<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button (click)="show()">Exibir Nome</ion-button>
  </div>
  <!-- <div *ngFor="let todoList of todoLists | async; trackBy: identifyList">
    <itemlist [todoList]="todoList"></itemlist>
  </div> -->
  <!-- <label>
    Add new list:
    <input
      autocomplete="off"
      type="text"
      id="name"
      #name
      [(ngModel)]="listName"
    />
  </label>
  <button type="submit" (click)="addNewList()">Add new list</button> -->

</ion-content>
