@import "../../../../assets/styles/mixin";
@import "../../../../theme/variables.scss";

:host {
  .search {
    border-bottom: 2px solid #5CBB4F;

    input {
      padding: 15px;
      width: 100%;
      border: 0;
      height: 90px;
      font-size: 50px;
      color: #5cbb4f;
    }

    @include inputPlaceholder() {
      color: rgba(92, 187, 79, .3);
      font-weight: 500;
    }
  }

  .logged {
    ion-label {
      font-weight: 600 !important;

      span {
        display: block;
        font-size: 14px;
        font-weight: 400;
        margin-top: 5px;
      }
    }

    ion-icon {
      opacity: 1;
    }
  }

  ion-list {
    ion-item {
      &::part(native) {
        padding-left: 0;
      }

      .name {
        font-size: 25px;
        font-weight: 400;
        padding: 20px 15px;
      }

      item-inner {
        padding: 20px 0;
      }

      .input-wrapper {
        margin-top: 25px;
        margin-bottom: 25px;
      }

      ion-icon {
        opacity: .37;
        color: rgba(0, 0, 0, .87);
        fill: rgba(0, 0, 0, .87);
        background-image: url('../../../../assets/images/workspace/arrow.svg');
        background-repeat: no-repeat;
        float: inline-end;
        position: absolute;
        left: 1;
        right: 3px;
        height: 12px;
        width: 28px;
      }
    }
  }
}