@import "../../../../theme/variables.scss";
@import "../../../../assets/styles/mixin";

:host {
  
  ion-content {
    --background: #7ED3D7 url("../../../../assets/images/begin/cidade.svg") no-repeat center bottom;
    
      
      .outer {
        padding: 15px;
        
        h1 {
          font-size: 39px;
        font-weight: 700;
        color: #ffffff;
        margin-bottom: 40px;
      }
      
      p {
        font-size: 16px;
        line-height: 25px;
        font-weight: 200;
        color: #ffffff;
      }
      
      .advance {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    }
  }
}
